/* userModal.module.css */
.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalContent .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContent .close:hover,
.modalContent .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalContent h2 {
  color: #333;
}

.modalContent p {
  color: #555;
}

.modalContent input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent .error {
  color: red;
  margin-bottom: 10px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.modalContent .error.shake {
  animation: shake 0.5s;
}

.modalContent button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalContent #closeModalBtn {
  background-color: #ccc;
  margin-right: 10px;
}

.modalContent #confirmBtn {
  background-color: #333;
  color: #fff;
}
